@model WebApp.Areas.Admin.ViewModels.ProductsForClientsCreateEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="ProductForClient.ProductId" class="control-label"></label>
    <select asp-for="ProductForClient.ProductId" class="form-control" asp-items="Model.ProductSelectList"></select>
    <span asp-validation-for="ProductForClient.ProductId" class="text-danger"></span>
</div>
@* <div class="form-group"> *@
@*     <label asp-for="ProductForClient.WorkObjectId" class="control-label"></label> *@
@*     <select asp-for="ProductForClient.WorkObjectId" class="form-control" asp-items="Model.WorkObjectSelectList"></select> *@
@*     <span asp-validation-for="ProductForClient.WorkObjectId" class="text-danger"></span> *@
@* </div> *@
<div class="form-group">
    <label asp-for="ProductForClient.ClientId" class="control-label"></label>
    <select asp-for="ProductForClient.ClientId" class="form-control" asp-items="Model.ClientSelectList"></select>
    <span asp-validation-for="ProductForClient.ClientId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ProductForClient.Count" class="control-label"></label>
    <input asp-for="ProductForClient.Count" class="form-control"/>
    <span asp-validation-for="ProductForClient.Count" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="@Resources.Views.Common.Save" class="btn btn-primary"/>
</div>