@model WebApp.ViewModels.WorkerInPositionCreateEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkerInPosition.WorkerId" class="control-label"></label>
                <select asp-for="WorkerInPosition.WorkerId" class ="form-control" asp-items="Model.WorkerSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkerInPosition.WorkerPositionId" class="control-label"></label>
                <select asp-for="WorkerInPosition.WorkerPositionId" class ="form-control" asp-items="Model.WorkerPositionSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkerInPosition.From" class="control-label"></label>
                <input asp-for="WorkerInPosition.From" class="form-control" />
                <span asp-validation-for="WorkerInPosition.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerInPosition.Until" class="control-label"></label>
                <input asp-for="WorkerInPosition.Until" class="form-control" />
                <span asp-validation-for="WorkerInPosition.Until" class="text-danger"></span>
            </div>