@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>Welcome</h3>

    @* <partial name="_LoginPartial"/> *@
    <ul class="alert alert-secondary">
        <partial name="_LoginPartial"/>
    </ul>
</div>
