@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@foreach (var claim in User.Claims)
{
    <div class="row">
        <div class="col-md-2">Type</div>
        <div class="col-md-10">@claim.Type </div>
    </div>
    <div class="row">
        <div class="col-md-2">Value</div>
        <div class="col-md-10">@claim.Value</div>
    </div>
}
