@model Domain.AppUserPosition

<h4>WorkerPosition</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PositionValue)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PositionValue)
    </dd>
</dl>