@model BLL.App.DTO.AppUserPosition

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="AppUserPositionValue" class="control-label"></label>
    <input asp-for="AppUserPositionValue" class="form-control"/>
    <span asp-validation-for="AppUserPositionValue" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="@Resources.Views.Common.Save" class="btn btn-primary"/>
</div>