@model WebApp.ViewModels.AppUserOnObjectCreateEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppUserOnObject.AppUserId" class="control-label"></label>
                <select asp-for="AppUserOnObject.AppUserId" class ="form-control" asp-items="Model.AppUserSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="AppUserOnObject.WorkObjectId" class="control-label"></label>
                <select asp-for="AppUserOnObject.WorkObjectId" class ="form-control" asp-items="Model.WorkObjectSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="AppUserOnObject.From" class="control-label"></label>
                <input asp-for="AppUserOnObject.From" class="form-control" />
                <span asp-validation-for="AppUserOnObject.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUserOnObject.Until" class="control-label"></label>
                <input asp-for="AppUserOnObject.Until" class="form-control" />
                <span asp-validation-for="AppUserOnObject.Until" class="text-danger"></span>
            </div>